<?xml version="1.0" encoding="utf-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services-1.0.xcd">

    <imports>
        <import resource="request.handlers.xml"/>
        <import resource="reg.exp.handlers.xml"/>
        <import resource="app.config.xml"/>
    </imports>
    <parameters>
        <parameter key="controllerNS">JoJoBizzareCoders\DigitalJournal\Controller</parameter>
    </parameters>

    <services>
        <defaults autowire="true" public="false">
            <bind key="string $pathToLesson" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToLesson()
            </bind>
            <bind key="string $pathToAssessmentReport" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToAssessmentReport()
            </bind>
            <bind key="string $pathToItems" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToItems()
            </bind>
            <bind key="string $pathToTeachers" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToTeachers()
            </bind>
            <bind key="string $pathToClasses" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToClasses()
            </bind>
            <bind key="string $pathToStudents" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToStudents()
            </bind>
            <bind key="string $pathToParents" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToParents()
            </bind>
            <bind key="string $pathToLogFile" type="expression">
                service( 'JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig' ).getPathToLogFile()
            </bind>
            <bind key="string $controllerNs">%controllerNS%</bind>
        </defaults>

        <prototype namespace="JoJoBizzareCoders\DigitalJournal\"
                   resource="./../../src"
        />
        <prototype namespace="JoJoBizzareCoders\DigitalJournal\Infrastructure\"
                   resource="./../../vendor/jojo-bizzare-coders/framework/src"
                   exclude="./../../vendor/jojo-bizzare-coders/framework/src/{Router,Http,Logger,Db}"
        />

        <prototype namespace="JoJoBizzareCoders\DigitalJournal\Infrastructure\ViewTemplate\"
                   resource="./../../vendor/jojo-bizzare-coders/view-template/src"
        />

        <instanceof id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Controller\ControllerInterface"
                    public="true"
        />
        <instanceof id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\RouterInterface"
                    public="true"
        />
        <instanceof id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Console\CommandInterface"
                    public="true"
        />

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Console\Output\OutputInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Infrastructure\Console\Output\EchoOutput"
                 public="true"
        />

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\HttpApplication\AppConfigInterface"
                 alias="JoJoBizzareCoders\DigitalJournal\Config\AppConfig"
                 public="true"/>

        <service id="JoJoBizzareCoders\DigitalJournal\Config\AppConfig"
                 public="true"
        >
            <factory class="JoJoBizzareCoders\DigitalJournal\Config\AppConfig"
                     method="createFromArray"
            />
            <argument key="$config">%app.configs%</argument>
        </service>


        <service id="JoJoBizzareCoders\DigitalJournal\Entity\AssessmentReportRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\AssessmentReportDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\ClassRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\ClassDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\ItemRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\ItemDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\LessonRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\LessonDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\ParentRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\ParentDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\StudentRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\StudentDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Entity\TeacherRepositoryInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Repository\TeacherDbRepository"
        />
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\DataLoader\DataLoaderInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Infrastructure\DataLoader\JsonDataLoader"
        />


        <service id="Psr\Http\Message\UriFactoryInterface" alias="Nyholm\Psr7\Factory\Psr17Factory"/>
        <service id="Psr\Http\Message\ResponseFactoryInterface" alias="Nyholm\Psr7\Factory\Psr17Factory"/>
        <service id="Psr\Http\Message\StreamFactoryInterface" alias="Nyholm\Psr7\Factory\Psr17Factory"/>

        <service id="Nyholm\Psr7\Factory\Psr17Factory"/>

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Auth\HttpAuthProvider">
            <argument key="$loginUri"
                      type="service">
                <service class="Nyholm\Psr7\Uri">
                    <argument key="$uri"
                              type="expression">
                        service('JoJoBizzareCoders\\DigitalJournal\\Config\\AppConfig').getLoginUri()
                    </argument>
                </service>
            </argument>
        </service>

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Auth\UserDataStorageInterface"
                 class="JoJoBizzareCoders\DigitalJournal\AppService\UserDataStorage\UserDataStorage"
        >
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Entity\ParentRepositoryInterface"/>
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Entity\TeacherRepositoryInterface"/>
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Entity\StudentRepositoryInterface"/>

        </service>

        <service id="JoJoBizzareCoders\DigitalJournal\Exception\ErrorRealisation\ErrorRealisationInterface"
            alias="JoJoBizzareCoders\DigitalJournal\Exception\ErrorRealisation\IgnitionError"
            public="true">
        </service>

        <service id="JoJoBizzareCoders\DigitalJournal\Exception\ErrorRealisation\IgnitionError"/>
        <service id="JoJoBizzareCoders\DigitalJournal\Exception\ErrorRealisation\DefaultError"/>


        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Session\SessionInterface"
        >
            <factory class="JoJoBizzareCoders\DigitalJournal\Infrastructure\Session\SessionNative"
                     method="create"
            />
        </service>

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Session\SessionInterface"
        >
            <factory class="JoJoBizzareCoders\DigitalJournal\Infrastructure\Session\SessionNative"
                     method="create"
            />
        </service>

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\View\RenderInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Infrastructure\View\DefaultRender"
                 public="true"
        />

        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\ControllerFactory">
            <argument key="$diContainer"
                      type="service"
                      id="service_container"
            />
        </service>
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\DefaultRouter">
            <argument key="$handlers">%request.handlers%</argument>
        </service>
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\RegExpRouter">
            <argument key="$handlers">%reg.exp.handlers%</argument>
        </service>
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\RouterInterface"
                 class="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\ChainRouters"
        >
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\RegExpRouter"
            />
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\DefaultRouter"
            />
            <argument type="service"
                      id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Router\UniversalRouter"
            />
        </service>



        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Exception\ExceptionHandler\ExceptionHandlerInterface"
                 alias="JoJoBizzareCoders\DigitalJournal\Infrastructure\Exception\ExceptionHandler\IgnitionExceptionHandler"
                 public="true"/>
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Exception\ExceptionHandler\IgnitionExceptionHandler"/>
        <service id="JoJoBizzareCoders\DigitalJournal\Infrastructure\Exception\ExceptionHandler\DefaultExceptionHandler"/>


    </services>










</container>